/target
/.idea
/data
/test-data
/server.key
/server.pem
/umadb-python/python/umadb/_umadb.cpython-314-darwin.so
/docker-compose.yaml
/performance-reports/
/perf_analysis_*/
/dcbdb-databases/
/dcbdb-databases-docker/
/umadb-python/python/umadb/__pycache__/
/umadb-python/python/umadb/_umadb.abi3.so
