# Cross.toml
# Configuration for cross-compiling umadb

# -----------------------------
# Linux GNU targets
# -----------------------------
[target.x86_64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/x86_64-unknown-linux-gnu:edge"
pre-build = [
    'apt-get update && apt-get -y upgrade && apt-get -y install curl unzip',
    # Need to upgrade gcc to a version that does have a bug (because aws-lc-sys's custom build script errors with this:
    #  ### COMPILER BUG DETECTED ###
    #  Your compiler (cc) is not supported due to a memcmp related bug reported in https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95189. We strongly recommend against using this compiler.
    'apt-get -y install gcc-10 && update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60',
    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-x86_64.zip" && unzip protoc-33.1-linux-x86_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
]
#
[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu:edge"
pre-build = [
    'apt-get update && apt-get -y upgrade && apt-get install -y curl unzip',
    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-x86_64.zip" && unzip protoc-33.1-linux-x86_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
#    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-aarch_64.zip" && unzip protoc-33.1-linux-aarch_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
]

# -----------------------------
# Linux MUSL targets
# -----------------------------
[target.x86_64-unknown-linux-musl]
image = "ghcr.io/cross-rs/x86_64-unknown-linux-musl:edge"
pre-build = [
    'apt-get update && apt-get -y upgrade && apt-get install -y curl unzip',
    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-x86_64.zip" && unzip protoc-33.1-linux-x86_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
]
#
[target.aarch64-unknown-linux-musl]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-musl:edge"
pre-build = [
    'apt-get update && apt-get -y upgrade && apt-get install -y curl unzip',
    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-x86_64.zip" && unzip protoc-33.1-linux-x86_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
#    'curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protoc-33.1-linux-aarch_64.zip" && unzip protoc-33.1-linux-aarch_64.zip -d /usr/ && chmod 755 /usr/bin/protoc',
]
#
# -----------------------------
# macOS targets
# -----------------------------
# These are built natively, so no Docker needed.
[target.x86_64-apple-darwin]
# no image needed, cross ignores Docker for macOS
[target.aarch64-apple-darwin]
# no image needed
